<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin-style.css' %}">
</head>
<body>
    <header>
        <h1>Contact Us</h1>
    </header>
    <main>
        <section id="contact-form">
            <h2>Send us a message</h2>
            <form action="submit_contact.php" method="post">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Your Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Message:</label>
                <input  id="message" name="message" required>
                <button type="submit">Send</button>
            </form>
        </section>
        
        <form action="{% url 'myapp:homepage' %}" method="post">
            {% csrf_token %}
            <button type="submit">Home</button>
        </form>
    </main>
</body>
</html>