<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>External Participant Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h2>External Participant Registration</h2>
    <form class="center" method="post">
        {% csrf_token %}
        <label for="name">Username:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="password1">Confirm Password:</label><br>
        <input type="password" id="password1" name="password1"><br>
        <label for="college_name">College Name:</label><br>
        <input type="text" id="college_name" name="college_name"><br>
        {% if error %}
                        <p class="text-xl lg:text-xl text-white text-center">{{ error }}</p>
        {% endif %}
        <button class="reg" type="submit">Register</button>
    </form>
</body>
</html>
