<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <form action="{% url 'myapp:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
        
    </form>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"></head>
<body>
    <div class="color2" >
        <h1 style="padding-top: 0;" >Events</h1>
        <div class="events">
            {% if events %}
                {% for event in events %}
                <div class="event-box">
                        <div class="color">
                            <br>
                                <h2 style="margin: 0; margin-left: 5px; " >{{ event.name }}</h2>
                                <p>{{ event.description }}</p>
                                <p>Date: {{ event.date }}</p>
                                <p>Time: {{ event.time }}</p>
                                <p>Location: {{ event.location }}</p>
                                <div style="display: flex;">
                                    <form action="{% url 'myapp:event_registration' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="event" value="{{ event.name}}">
                                        <button class ="reg" type="submit">Register</button>
                                    </form>
                    
                                    <form action="{% url 'myapp:volunteer_registration'  %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="event" value="{{ event.name}}">
                                        <button type="submit">Volunteer</button>
                                    </form>
                                    {% if request.GET.registered == event.name %}
                                    <p class="text-xl lg:text-xl text-white text-center">Registered successfully!!</p>
                                {% endif %}
                                {% if request.GET.registered2 == event.name %}
                                    <p class="text-xl lg:text-xl text-white text-center">Registered as Volunteer successfully!!</p>
                                {% endif %}
                                </div>
                                
                    </div>
                </div>
                
                {% endfor %}
            {% else %}
                <p>No events available.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
